<!DOCTYPE html>
<html>
<head>
  <title>Flash Card App</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <main>
    <h1> Today is <%= message %>! <%= dy %></h1>
    <h3><%= advice %></h3>
    
  </main>

</body>
</html>